In [1]:
# !pip uninstall -y py-openaq

In [2]:
# pip list

In [3]:
# pip install openaq

In [4]:
import pandas as pd

In [5]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [6]:
# from openaq import OpenAQ
# import pandas as pd

# client = OpenAQ(api_key='b878aacfcb4340bad05b580bfc2bbe021ea88c3ad7556af3947a139a75c1e018')
# response = client.measurements.list(locations_id=289, date_from="2020-01-01", date_to="2021-01-01")
# data_dict = response.dict()
# df = pd.json_normalize(data_dict['results'])
# df.info()

In [7]:
# import requests

# url = "https://api.openaq.org/v2/measurements?date_from=2017-01-01&date_to=2023-01-01&limit=10001&page=1&offset=0&sort=desc&radius=1000&location_id=289&order_by=datetime"

# headers = {"accept": "application/json"}

# response = requests.get(url, headers=headers)#789

# print(response.text)

In [8]:
# df1 = pd.json_normalize(response.json()['results'])

In [9]:
# import requests

# url = "https://api.openaq.org/v2/measurements?date_from=2023-01-02&date_to=2024-06-03&limit=10001&page=1&offset=0&sort=desc&radius=1000&location_id=289&order_by=datetime"

# headers = {"accept": "application/json"}

# response = requests.get(url, headers=headers)#789

# print(response.text)

In [10]:
# df2 = pd.json_normalize(response.json()['results'])

In [11]:
# aq = pd.concat([df1, df2])

In [12]:
# aq = aq.reset_index()

In [13]:
# aq = aq[aq['parameter']=='pm25']

In [14]:
# aq.info()

In [15]:
# aq.to_csv(f'data/openaqpm2.5')

In [16]:
aq = pd.read_csv('data/openaqpm2.5')

In [17]:
aq

,Unnamed: 0,index,locationId,location,parameter,value,unit,country,city,isMobile,isAnalysis,entity,sensorType,date.utc,date.local,coordinates.latitude,coordinates.longitude
0,0,0,289,LOCKELAND,pm25,9.4,µg/m³,US,NaN,False,NaN,Governmental Organization,reference grade,2022-12-05T18:00:00+00:00,2022-12-05T12:00:00-06:00,36.1767,-86.7386
1,1,1,289,LOCKELAND,pm25,9.7,µg/m³,US,NaN,False,NaN,Governmental Organization,reference grade,2022-12-05T17:00:00+00:00,2022-12-05T11:00:00-06:00,36.1767,-86.7386
2,2,2,289,LOCKELAND,pm25,10.0,µg/m³,US,NaN,False,NaN,Governmental Organization,reference grade,2022-12-05T16:00:00+00:00,2022-12-05T10:00:00-06:00,36.1767,-86.7386
3,3,3,289,LOCKELAND,pm25,11.0,µg/m³,US,NaN,False,NaN,Governmental Organization,reference grade,2022-12-05T15:00:00+00:00,2022-12-05T09:00:00-06:00,36.1767,-86.7386
4,4,4,289,LOCKELAND,pm25,10.8,µg/m³,US,NaN,False,NaN,Governmental Organization,reference grade,2022-12-05T14:00:00+00:00,2022-12-05T08:00:00-06:00,36.1767,-86.7386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13039,13039,6358,289,LOCKELAND,pm25,13.5,µg/m³,US,NaN,False,NaN,Governmental Organization,reference grade,2023-02-14T05:00:00+00:00,2023-02-13T23:00:00-06:00,36.1767,-86.7386
13040,13040,6359,289,LOCKELAND,pm25,13.1,µg/m³,US,NaN,False,NaN,Governmental Organization,reference grade,2023-02-14T04:00:00+00:00,2023-02-13T22:00:00-06:00,36.1767,-86.7386
13041,13041,6360,289,LOCKELAND,pm25,24.0,µg/m³,US,NaN,False,NaN,Governmental Organization,reference grade,2023-02-14T03:00:00+00:00,2023-02-13T21:00:00-06:00,36.1767,-86.7386
13042,13042,6361,289,LOCKELAND,pm25,10.6,µg/m³,US,NaN,False,NaN,Governmental Organization,reference grade,2023-02-14T02:00:00+00:00,2023-02-13T20:00:00-06:00,36.1767,-86.7386
13043,13043,6362,289,LOCKELAND,pm25,11.1,µg/m³,US,NaN,False,NaN,Governmental Organization,reference grade,2023-02-14T01:00:00+00:00,2023-02-13T19:00:00-06:00,36.1767,-86.7386

In [18]:
# PM25 = pd.read_csv('../Air_Quality_and_Pollen_Count.csv')

In [19]:
# PM25 = PM25[PM25['Responsible Pollutant']=='PM2.5'].reset_index()

In [20]:
# PM25['Date'] = pd.to_datetime(PM25['Date'], format = 'mixed')

In [21]:
# pm25 = PM25[PM25['Date']>='01/01/2017'].reset_index()

In [22]:
# # https://data.nashville.gov/dataset/Air-Quality-and-Pollen-Count/h7nh-qj2m/data
# pm25

In [23]:
# pm25.to_csv(f'data/nashville.gov_pm2.5')

In [24]:
pm25 = pd.read_csv('data/nashville.gov_pm2.5')

In [25]:
pm25

,Unnamed: 0,level_0,index,Date,Air Quality Index,Responsible Pollutant,Pollen Count,Pollen Type
0,0,0,0,2024-06-05,47.0,PM2.5,0.0,Grass
1,1,1,1,2024-06-04,47.0,PM2.5,1.0,Grass
2,2,2,2,2024-06-03,50.0,PM2.5,6.0,Grass
3,3,3,3,2024-06-02,49.0,PM2.5,5.0,Grass
4,4,4,4,2024-06-01,51.0,PM2.5,0.0,Grass
...,...,...,...,...,...,...,...,...
1759,1759,1759,2739,2017-01-05,19.0,PM2.5,NaN,NaN
1760,1760,1760,2740,2017-01-04,19.0,PM2.5,NaN,NaN
1761,1761,1761,2741,2017-01-03,18.0,PM2.5,NaN,NaN
1762,1762,1762,2742,2017-01-02,27.0,PM2.5,NaN,NaN
1763,1763,1763,2743,2017-01-01,29.0,PM2.5,NaN,NaN